/** @format */
* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}
body {
  background: #f5f5f5;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  background: #ffffff;
  border: solid 1px #cccccc;
  width: 100%;
  box-sizing: border-box;
}
.App > div {
  width: 35%;
}
.toogle-all {
  margin: 15px 15px;
  width: 10px;
  height: 10px;
  border-color: #cccccc;
  border-right: 4px solid;
  border-bottom: 4px solid;
  transform: rotate(45deg);
}
.toogle-all:hover {
  cursor: pointer;
}
.active-down {
  border-color: #555555;
}
h1 {
  margin: 30px;
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
}
